@use '../abstracts/' as *;

.btnStart {
  @include button-style($bg-color: $c-pink, $b-radius: 50%, $height: 60px, $width: 60px);
  @include font-style();
  @include btn-img-style();
}

.btnStop {
  @include button-style($bg-color: $c-bright-purple, $b-radius: 50%, $height: 60px, $width: 60px);
  @include font-style();
  @include btn-img-style($image: '../../assets/icons/stop-btn_ico.png');
}

.btnVariables,
.btnHeaders {
  @include button-style($bg-color: $c-almost-black);
  @include font-style($color: $c-gray);
}

.navBtn {
  @include button-style();
  background: $c-bright-purple;
  box-sizing: border-box;
  &:hover {
    background: transparent;
    color: $c-bright-purple;
    box-shadow: inset 0 0 0 3px $c-bright-purple;
  }
}
