.main {
  display: flex;
  flex-direction: column;
  color: white;
}

.authSection {
  height: 100%;
}

.container {
  height: 100%;

  display: grid;
  place-items: center center;
}

.heading {
  font-family: $font-serif;
  @include font($font-size-heading, 120%, $font-weight-bold);

  @include animation-slide($name: slide-up, $start: 20px);
}
