.container {
  position: relative;
  display: flex;
  gap: 10px;
  padding: 10px 0;
  height: 100%;
  width: 100%;
  @include maxQ(small) {
    flex-direction: column;
    gap: 5px;
  }
}

.block {
  @include block-style();
  @include animation-slide();
  flex-direction: column;
  @include maxQ(small) {
    min-height: 400px;
  }
}

.section {
  flex-grow: 1;
  padding: 10px;
}

.btnBlock {
  position: relative;
  display: flex;
  justify-content: center;
}

.btnSection {
  display: flex;
  gap: 10px;
}

.headersSection {
  border-top: 1px solid $c-white-transparent;
}

.docs {
  display: flex;
  align-items: center;
  z-index: 5;
  position: absolute;
  right: -40px;
  top: 0;
  height: 100%;
  @include maxQ(small) {
    right: -10px;
  }
}

.docsSection {
  height: 100%;
  background-color: $c-gray;
  border-radius: 5px 0 0 5px;
}

.docsBtn {
  @include button-style();
  @include font-style($color: $c-black, $size: 14px);
  border-radius: 5px 0 0 5px;
  writing-mode: vertical-rl;
  @include maxQ(small) {
    font-size: 12px;
  }
}

.editorTextAreaContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: #282a36;
  overflow: hidden;
}

.editorTextArea {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include font(1.5rem, 150%, 400);

  margin: 0.75rem 0;
  padding: 1.5rem;

  background-color: transparent;
  color: rgb(255, 255, 255);
  caret-color: white;
  outline: none;
  resize: none;

  //disable to debug
  // color: transparent;
}
