.switchBtn {
  @include button-style($bg-color: $c-almost-black);
  @include font-style($color: $c-gray);
}

.select {
  @include button-style($bg-color: $c-dark-gray);
}

.btnStart,
.btnStop {
  position: absolute;
  z-index: 5;
  top: 20px;
}

.btnStart {
  @include button-style($bg-color: $c-green, $b-radius: 50%, $height: 60px, $width: 60px);
  @include bg-img-style($size: 70%);
}

.btnStop {
  @include button-style($bg-color: $c-bright-purple, $b-radius: 50%, $height: 60px, $width: 60px);
  @include bg-img-style($image: '../../assets/icons/stop-btn_ico.png', $size: 70%);
}
