.container {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  height: 100%;
  width: 100%;
}

.block {
  @include block-style();
  @include animation-slide();
  flex-direction: column;
}

.section {
  flex-grow: 1;
  padding: 10px;
}

.btnBlock {
  position: relative;
  display: flex;
  justify-content: center;
}

.btnSection {
  display: flex;
  gap: 10px;
}

.headersSection {
  border-top: 1px solid $c-white-transparent;
}

.docs {
  display: flex;
  gap: 10px;
}

.docsSection {
  background-color: $c-gray;
  border-radius: 5px;
}

.docsBtn {
  @include button-style();
}

.editorTextAreaContainer {
  position: relative;
  display: flex;
  background-color: #282a36;
}

.editorTextArea {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  resize: none;
  background-color: transparent;
  padding: 0.5rem;
  font-family: 'Roboto Mono', monospace;
  color: transparent;
  caret-color: white;
  outline: none;
}
