.container {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  height: 100%;
  width: 100%;
}

.block {
  @include block-style();
  @include animation-slide();
  flex-direction: column;
}

.section {
  flex-grow: 1;
  padding: 10px;
}

.btnBlock {
  position: relative;
  display: flex;
  justify-content: center;
}

.btnSection {
  display: flex;
  gap: 10px;
}

.headersSection {
  border-top: 1px solid $c-white-transparent;
}

.docs {
  position: relative;
  left: -40px;
  display: flex;
  align-items: center;
  border-left: 5px solid $c-gray;
}

.docsSection {
  height: 100%;
  background-color: $c-gray;
  border-radius: 0 5px 5px 0;
}

.docsBtn {
  @include button-style();
  @include font-style($color: $c-black, $size: 12px);
  text-transform: uppercase;
  border-radius: 0 5px 5px 0;
  writing-mode: vertical-rl;
}
