.container {
  margin: 0 auto;
  padding: 2rem;
  width: 30%;
  min-width: 32rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  border: 1px solid $c-white-transparent;
  border-radius: $b-radius;
  color: white;

  @include glass-effect();
  @include animation-slide($name: slide-up, $start: 50px);

  @media (max-width: 350px) {
    min-width: 25rem;
  }
}

.heading {
  margin-left: 0.5rem;
  font-family: $font-serif;
  @include font($font-size-medium, 120%, $font-weight-semibold);
  color: white;

  & > span {
    position: relative;
    user-select: none;
    transition: $fast-transition;
    // pointer-events: none;

    &.active {
      color: $c-gray;
      user-select: auto;
      @include bottomline_expand($c-bright-purple);

      @include onHover() {
        cursor: pointer;
        color: $c-bright-purple;
      }
    }
  }

  @media (max-width: 350px) {
    font-size: $font-size-base;
  }
}

.oauthContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.social {
  width: 3rem;
  height: 3rem;

  transition: $fast-transition;

  @include onHover() {
    cursor: pointer;
    color: $c-bright-purple;
  }
}
