.header {
  @include font-style($size: $font-size-medium);
  @include glass-effect();
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: $slow-transition;

  @include maxQ(small) {
    font-size: $font-size-base;
  }
}

.container {
  display: flex;
  padding: 20px 0;
  transition: $slow-transition;
}

.header.sticky {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background: $dark-gradient;

  & .container {
    padding: 10px 0;
  }
}
