.header {
  display: flex;
  z-index: 10;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: $slow-transition;
  background-color: $c-almost-black;
  padding: 20px 50px;
}

.sticky {
  position: fixed;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background: $dark-gradient;
  padding: 10px 50px;
}
