.navBar {
  width: 100%;
  @extend %spacebetween;

  * {
    @extend %aligncenter;
  }

  ul {
    gap: 50px;
  }
}

.navLink {
  position: relative;
  text-decoration: none;
  @extend %aligncenter;

  @include bottomline_expand(white);
}

.logo {
  @include bg-img-style($image: '../../assets/icons/gq-logo_ico.png', $size: contain);
  height: 40px;
  width: 150px;
}
