.navBar {
  width: 100%;
  @extend %spacebetween;

  * {
    @extend %aligncenter;
  }

  ul {
    gap: 50px;
  }
}

.navList {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navLink {
  position: relative;
  text-decoration: none;
  @extend %aligncenter;

  @include bottomline_expand(white);
}

.logo {
  @include bg-img-style($image: '../../assets/icons/gq-logo_ico.png', $size: contain);
  height: 40px;
  width: 150px;
}

.languageContainer {
  margin-left: 2rem;
  margin-right: auto;
}

.welcomeContainer {
  padding: 0 2rem;
  flex: 1 0 auto;
}

.loading {
  opacity: 0;
  transition: opacity ease-out 0.3s;
}

.loaded {
  opacity: 1;
  transition: opacity ease-out 0.3s;
}
