.container {
  height: max-content;
  display: flex;
  justify-content: space-around;
}

.navLink {
  padding: 1rem 0;
  display: inline-block;

  &:not(:last-of-type) {
    margin-right: 1rem;
  }

  &:hover {
    color: tomato;
  }
  font-family: $font-serif;
  font-size: 25px;
}

.active {
  color: blue;
}
